$Lusitana: 'Lusitana', serif;
$Raleway: 'Raleway', sans-serif;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.horizontal-scroll {
  height: 504px;

  background-color: var(--site-light);

  // border-style: solid;
  // border-color: black; 

  .flickity-wrap {
    padding-top: 60px;

    .spin-wrap {
      border-style: solid;
      border-color: var(--site-light-blue);
      border-width: 2px;
      border-radius: 4px;
    
      @include flex-row;
      justify-content: center;
      align-items: center;
    
      width: 813px;
      height: 384px;
      margin-right: 24px;

      &.is-selected {
        border-color: var(--site-blue);
      }

      .spin-annotation {
        max-width: 290px;
        flex: 1;
        height: 305px;
      
        @include flex-column;
        justify-content: space-between;
      
        // border-style: solid;
        // border-color: violet;

        .spin-name {
          margin-top: 8px;
        
          text-decoration: none;
          color: var(--basic-black);
        
          // border-style: solid;
          // border-color: black; 

          h3 {
            font-family: $Raleway;
            font-weight: 600;
            font-size: 2em;
          }
        }

        .spin-text {
          font-family: $Lusitana;
          font-weight: 400;
          font-size: 1em;
        
          // border-style: solid;
          // border-color: blue;
        }

        .spin-button {
          font-family: $Raleway;
          font-weight: 700;
          font-size: 1em;
        
          color: var(--site-light);
        
          background-color: var(--site-blue);
        
          border: none;
          border-radius: 4px;
        
          padding: 10px 0;
        
          cursor: pointer;
        }
      }

      .aircraft-annotation{
        margin-right: 24px;
      }

      .pilot-annotation {
        margin-left: 24px;
      }

      .spin-image {
        height: 304px;
        width: 290px;
        object-fit: cover;
      
        border-radius: 4px;
      }
    }
  }
  .aircraft-flickity {
    margin-right: 7.22%;
  }

  .pilot-flickity {
    margin-left: 7.22%;
  }
}


@media screen and (max-width: 440px) {
  
  .horizontal-scroll {
    height: 336px;

    .flickity-wrap {
      padding-top: 20px;

      .spin-wrap {
        flex-direction: column;
        padding: 16px 0;
      
        width: 231px;
        height: 292px;
        margin-right: 20px;

        .spin-annotation {
          max-width: 191px;
          height: 97px;
          margin-top: 8px;

          .spin-name {
            margin-top: 0;
          
            h3 {
              font-size: 1em;
              line-height: 20px;
            }
          }

          .spin-text {
            font-size: 0.5em;
            line-height: 12px;

            .hide-phone {
              display: none;
            }
          }

          .spin-button {
            font-size: 0.75em;
            padding: 4px 0;
          }
        }

        .aircraft-annotation{
          margin-right: 0;
        }
        .aircraft-flickity {
          margin-right: 30px;
        }
        .pilot-annotation {
          margin-left: 0;
        }
        .pilot-flickity {
          margin-left: 30px;
        }

        .spin-image {
          height: 154px;
          width: 191px;
        }
      }

      .phone-reverse {
        flex-direction: column-reverse;
      }
    }
  }
}

@media screen and (441px <= width <= 1024px) {
  
  .horizontal-scroll {
    height: 464px;
  
    .flickity-wrap {
      padding-top: 40px;

      .spin-wrap {
        width: 789px;

        .spin-annotation {
          max-width: 256px;
          height: 304px;

          .spin-name {
           h3 {
            font-size: 1.5em;
           }
          }
        }
        
        .spin-image {
          width: 323px;
        }
      }
    }

    .aircraft-flickity {
      margin-right: 60px;
    }

    .pilot-flickity {
      margin-left: 60px;
    }
  }
}

